@font-face {
  font-family: "Brandon Grotesque";
  src: local("/fonts/Brandon Grotesque Bold"),
    local("/fonts/Brandon-Grotesque-Bold"),
    url("/fonts/BrandonGrotesque-Bold.woff2") format("woff2"),
    url("/fonts/BrandonGrotesque-Bold.woff") format("woff"),
    url("/fonts/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: local("/fonts/Lato Semi Bold"), local("/fonts/Lato-Semi-Bold"),
    url("/fonts/Lato-Semibold.woff2") format("woff2"),
    url("/fonts/Lato-Semibold.woff") format("woff"),
    url("fonts/Lato-Semibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#logo {
  height: 60px;
}

html {
  scroll-behavior: smooth;
}

:root {
  --orange: #f16122;
  --white: #ffffff;
  --grey: #6d6d6d;
  --black: #3a3a3a;
  --blue: #2f3d7c;
  --offwhite: rgba(249, 249, 249, 0.8);
}

body {
  /* font-family: "Lato", sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Lexend Deca", sans-serif;
  color: var(--gray);
  background-color: var(--white);
  font-size: 1rem;
  line-height: 1.7;
}

h1 {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
  text-transform: uppercase;
  /* text-align: center; */
  color: var(--white);
  letter-spacing: 4px;
}

h2 {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 2.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: left;
  color: var(--black);
  line-height: 1.2;
}

h3 {
  font-family: "Lato", sans-serif;
  font-size: 1.25rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  line-height: 1.5;
}

h4 {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 2em;
  text-transform: capitalize;
  text-align: left;
  color: var(--orange);
  line-height: 1.3;
}

h5 {
  font-family: "Brandon Grotesque", sans-serif;
  font-size: 2em;
  text-transform: capitalize;
  text-align: center;
  color: var(--black);
  line-height: 1.3;
}

#hero {
  background: url("/img/stencil.hero-2.jpg") no-repeat center left/cover;
  height: 100vh;
  width: 100vw;
  min-height: 100px;
  background-position: 25% 35%;
}

#hero-container {
  /* display: flex; */
  /* justify-content: top;
  align-items: left; */
}

#logo-container {
  justify-content: right;
  align-items: center;
  padding: 2rem;
  /* border: solid black; */
}

#hero-text-container {
  display: flex;
  justify-content: flex-end;
  /* border: solid green; */
}

#hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  /* width: 450px;
  height: 200px; */
  margin: 70px;
}

#hero-heading {
  margin-bottom: 25px;
}

#hero-heading h1 {
}

#hero-subheading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 10px;
  color: var(--white);
  font-size: 1.25em;
}

#hero-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: green;
}

#hero-form input {
  width: 400px;
  height: 30px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 15px;
}

.button {
  background-color: var(--orange);
  color: var(--white);
  border: none;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
  border-radius: 25px;
  text-transform: uppercase;
  width: 100px;
}

._form-label {
  color: var(--black);
}

.button:hover {
  filter: brightness(105%);
}

#icon-cards-section {
  margin: 0 100px;
  margin-bottom: 100px;
}

#icon-cards-intro {
  display: flex;
  justify-content: start;
  margin: 90px 0;
  max-width: 100%;
}

#icon-cards-heading {
  flex-basis: 50%;
}

#icon-cards-heading h4 {
  text-align: left;
}

#icon-cards-subheading {
  flex-basis: 50%;
}

#icon-cards-subheading h3 {
  text-align: left;
  font-size: 18px;
  margin-left: 100px;
  text-transform: none;
}

#icon-cards-container {
  display: flex;
  justify-content: start;
  margin: 90px 0;
  max-width: 100%;
  gap: 1.1rem;
}

.icon-cards {
  max-width: 25%;
}

.icon-image {
  background: white;
}

.icon-image i {
  margin-top: 45px;
}

.icon-content {
  margin-top: 35px;
}

.icon-content h4 {
  color: var(--black);
}

.icon-teaser {
  margin-top: 10px;
  margin-left: 3px;
  margin-right: 3px;
}

#icon-1,
#icon-2,
#icon-3,
#icon-4 {
  width: 100px;
  margin-top: 45px;
}

/* Hover Cards */
#hover-cards {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0px 100px;
  margin-bottom: 10px;
  max-width: 100%;
  /* Stopped the overflow of cards going past footer */
  /* height: 100vh; */
}

#text-container {
  /* flex-basis: 40%; */
  /* margin-right: 40px; */
  margin-bottom: 50px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  gap: 3rem;
  /* flex-basis: 60%; */
  margin-bottom: 15px;
}

#text-container h1 {
  color: var(--blue);
  margin-bottom: 20px;
  font-size: 2.5rem;
}
#text-container p {
  margin-bottom: 15px;
}

.card-box {
  position: relative;
  width: 265px;
}

/* .img {
  display: block;
  width: 100%;
}

#img-1 {
  display: flex;
  background: url("/img/steps.jpg");
  height: 400px;
  width: 265px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#img-2 {
  display: flex;
  background: url("/img/charts-bw.jpg");
  height: 400px;
  width: 265px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

#img-3 {
  display: flex;
  background: url("/img/arms-open-bw.jpg");
  height: 400px;
  width: 265px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  background-position: left 30% bottom 100%;
}

.img .bottom-overlay {
  height: 400px;
  width: 265px;
  opacity: 0.37;
  background: red;
  position: absolute;
  border-radius: 10px;
}

.bottom-text {
  z-index: 1;
  position: relative;
  display: flex-column;
  color: var(--white);
  margin: 20px 10px;
}

.bottom-text hr {
  height: 1px;
  width: 245px;
  background-color: var(--white);
  border: none;
}

.bottom-text h2 {
  margin-top: 20px;
  color: var(--white);
  font-size: 1.34em;
  text-align: left;
} */

.image-top-overlay {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 400px;
  width: 265px;
  background: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
  /* align-items: center;
  justify-content: center; */
  /* opacity: 0; */
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.image-top-overlay:hover {
  opacity: 1;
  z-index: 2;
  cursor: pointer;
}

.image-top-headline {
  font-size: 1.34em;
  font-weight: bold;
  margin: 0 10px;
  text-align: left;
}

.image-top-description {
  font-size: 1.25em;
  line-height: 1.3;
  margin: 0 10px;
  margin-top: 1em;
}

.coaching-top {
  margin: 20px 10px;
}

.caoching .coaching-top-num {
  color: var(--black);
}

.coaching-top hr {
  height: 1px;
  background-color: var(--black);
  border: none;
}

#last-card-no-hover {
  /* position: absolute;
  top: 0px;
  left: 0px; */
  height: 400px;
  width: 265px;
  background: var(--offwhite);
  color: var(--black);
  /* font-family: sans-serif; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 1;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

#last-card-no-hover h4 {
  margin-bottom: 15px;
  text-align: center;
}

#footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 1000px;
  min-height: 100px;
  color: var(--white);
  background: var(--black);
}

a {
  text-decoration: none;
  color: var(--white);
}

ul {
  list-style: none;
}

.links a:hover {
  color: var(--orange);
}

@media (max-width: 980px) {
  #hero {
    background: url("/img/hero-mobile.jpg") no-repeat center left/cover;
    height: 100vh;
    width: 100vw;
    min-height: 100px;
    background-position: 5% 4%;
  }

  #hero-text-container {
    display: flex;
    justify-content: center;
  }

  #hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  #hero-heading {
    margin-bottom: 10px;
    text-align: center;
  }

  #hero-heading h1 {
    font-size: 36px;
    margin-top: 390px;
  }

  #hero-subheading {
    text-align: center;
    font-size: 16px;
    line-height: 1.6;
  }

  #icon-cards-intro {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    margin: 90px 0;
    max-width: 100%;
  }

  #icon-cards-heading {
    flex-basis: 100%;
    margin-bottom: 25px;
  }

  #icon-cards-heading h4 {
    text-align: left;
  }

  #icon-cards-subheading {
    flex-basis: 100%;
  }

  #icon-cards-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 90px 0;
    max-width: 100%;
    gap: 1.1rem;
  }

  .icon-cards {
    max-width: 100%;
  }

  .icon-content h4 {
    font-size: 1.6rem;
  }

  .icon-teaser {
    margin: 10px 3px 0px;
    line-height: 1.5;
  }

  .image-top-overlay {
    display: block;
    opacity: 2;
  }
}

@media (max-width: 800px) {
  #logo {
    height: 40px;
  }

  #hero-container {
    /* display: flex; */
    /* justify-content: top;
    align-items: left; */
  }

  #logo-container {
    justify-content: right;
    align-items: center;
    padding: 2rem;
    /* border: solid black; */
  }

  #hero-text-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    /* border: solid green; */
  }

  #hero-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65%;
    /* width: 450px;
    height: 200px; */
    /* margin: 70px; */
  }

  #hero-heading {
    margin-bottom: 10px;
  }

  #hero-heading h1 {
    font-size: 36px;
    margin-top: 400px;
  }

  #hero-subheading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    color: var(--white);
    font-size: 16px;
    width: 100%;
  }

  #hero-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: green;
  }

  #_form_1222_ ._submit {
    -webkit-appearance: none;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    background: var(--orange);
    border: 0 !important;
    -moz-border-radius: 4px !important;
    -webkit-border-radius: 4px !important;
    border-radius: 10px !important;
    color: #fff !important;
    padding: 10px !important;
    text-transform: uppercase;
    width: 50%;
  }

  #_form_1222_ ._form_element {
    display: flex;
    justify-content: center;
    position: relative;
    margin-bottom: 15px;
    font-size: 0;
    max-width: 75%;
  }
}
